html, body {
  height: 100%;
  color: rgb(70, 48, 0);
  background: rgb(224, 176, 73);
}

h1 {
  margin: 20px 0 15px 0;  
}

#main {
  width: 600px;
  margin: 0 auto;
  text-align: left;
}

ul {
  list-style: none;
}

li {
  padding: 10px 10px 10px 10px;
}

ul>li:hover {
  background-color: #F5F5F5;
}

.form-inline .form-control {
  width: 50%;
  margin-left: 80px;
}

.done {
  color: red;
  text-decoration: line-through;
}

.undone {
  color: #61DAFB;
}

.icon {
  margin: 6px 10px 6px 0;
}

.close {
  float: right;
}